<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans.xsd
       		http://www.springframework.org/schema/context 
     		http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<!-- 动态数据源路由器配置 -->
	<bean id="dynamicDataSource"
		class="com.lejr.platform.mybatis.spring.sharding.datasource.DynamicDataSourceRouter">
		<!-- 通过key-value的形式来关联数据源 -->
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="dataSourceMaster0" key="ds0"></entry>
				<entry value-ref="dataSourceMaster1" key="ds1"></entry>
				<entry value-ref="dataSourceMaster2" key="ds2"></entry>
				<entry value-ref="dataSourceMaster3" key="ds3"></entry>
				<entry value-ref="dataSourceMaster4" key="ds4"></entry>
				<entry value-ref="dataSourceMaster5" key="ds5"></entry>
				<entry value-ref="dataSourceMaster6" key="ds6"></entry>
				<entry value-ref="dataSourceMaster7" key="ds7"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSourceMaster0" />
	</bean>

</beans>